[Desktop Entry]
Version=1.0
Type=Application
Name=GpsPrune
GenericName=Map viewer
GenericName[hu]=Térkép-megjelenítő
X-GNOME-FullName=GpsPrune Map viewer
X-GNOME-FullName[hu]=GpsPrune térkép-megjelenítő
Comment=A java application for viewing, editing and converting coordinate data from GPS systems
Comment[hu]=Java alkalmazás koordináta-adatok megtekintéséhez, szerkesztéséhez és konvertálásához a GPS rendszerekből
Exec=gpsprune
Icon=gpsprune
Categories=Java;Utility;Map;
