[Desktop Entry]
Version=1.0
Type=Application
Name=Traveling Salesman
GenericName=Map viewer
GenericName[hu]=Térkép-megjelenítő
X-GNOME-FullName=Traveling Salesman Map viewer
X-GNOME-FullName[hu]=Traveling Salesman térkép-megjelenítő
Comment=Routing and navigation program for the OpenStreetMap
Comment[hu]=Útvonaltervező és navigációs program az OpenStreetMaphoz
Exec=traveling-salesman
Icon=traveling-salesman
Categories=Java;Utility;Map;
